---
---
{%- include vars.html -%}
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- for item in site.data.meta -%}
      <meta name="{{item[0]}}" content="{{item[1]}}">
    {%- endfor -%}
    {%- for item in site.data.twitter -%}
      <meta name="twitter:{{item[0]}}" content="{{item[1]}}">
    {%- endfor -%}
    {%- for item in site.data.opengraph -%}
      <meta property="og:{{item[0]}}" content="{{item[1]}}">
    {%- endfor -%}
    <title>Izzy's eXtension Modules</title>
    {%- for item in site.data.css -%}
      <link rel="stylesheet" href="//{{ item.path -}}"
      {% if item.integrity %}
        integrity="{{item.integrity}}"
        crossorigin="{%- if item.crossorigin %}{{item.crossorigin}}{%- else -%}anonymous{%endif%}"
      {%- endif -%}>
    {%- endfor -%}
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      <img src="/assets/img/logo.png">
      <h1>The <em>last</em> CMake library you'll ever use</h1>
    </header>
    <nav>
      <ul>
        <li>
          <a class="fab fa-github"
             rel="noopener noreferrer" target="_blank"
             href="https://github.com/ixm-one/ixm"
             title="GitHub">
          </a>
        </li>
        <li>
          <a class="fas fa-book"
             rel="noopener noreferrer"
             target="_blank"
             href="https://docs.ixm.one"
             title="Documentation">
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <ul>
          <li><a class="fas fa-chevron-circle-left" onclick="prev()"></a></li>
          <li>Import IXM with just <strong>4 lines of code!</strong></li>
          <li>Automatically generate your projects with blueprints!</li>
          <li>Have key value pairs by using the <code>dict()</code> type!</li>
          <li>Download and use external dependencies with ease!</li>
          <li>Implement <code>find_package()</code> files with little effort!</li>
          <li><a class="fas fa-chevron-circle-right" onclick="next()"></a></li>
        </ul>
      </section>
      <section>
        <ul>
          <li><pre><code>{% include import.html %}</code></pre></li>
          <li><pre><code>{% include blueprint.html %}</code></pre></li>
          <li><pre><code>{% include dict.html %}</code></pre></li>
          <li><pre><code>{% include fetch.html %}</code></pre></li>
          <li><pre><code>{% include find.html %}</code></pre></li>
        </ul>
      </section>
    </main>
    <footer>
      <a href="https://twitter.com/slurpsmadrips"><small>&copy; Isabella Muerte</small></a>
    </footer>
    <script>
      let current = 0;
      function next () { switchTo(current += 1); }
      function prev () { switchTo(current -= 1); }
      function switchTo (idx) {
        const slideSelector = 'main > section:last-of-type > ul > li';
        const descSelector = 'main > section:first-of-type > ul > li';
        let slides = Array.from(document.querySelectorAll(slideSelector));
        let descs = Array.from(document.querySelectorAll(descSelector)).slice(1, -1);
        if (idx < 0) { current = slides.length - 1; }
        else if (idx >= slides.length) { current = 0; }
        else { current = idx; }
        const hide = (element) => { element.style.display = 'none'; };
        const reset = (element) => { element.style.display = 'initial'; }
        slides.forEach(hide);
        descs.forEach(hide);
        reset(slides[current])
        reset(descs[current])
      }
    </script>
  </body>
</html>
