---
---
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% for item in site.data.meta %}
      <meta name="{{item[0]}}" content="{{item[1]}}">
    {% endfor %}
    {% for item in site.data.twitter %}
      <meta name="twitter:{{item[0]}}" content="{{item[1]}}">
    {% endfor %}
    {% for item in site.data.opengraph %}
      <meta property="og:{{item[0]}}" content="{{item[1]}}">
    {% endfor %}
    <title>Izzy's eXtension Modules</title>
    {% for item in site.data.css %}
      <link rel="stylesheet" href="//{{ item.path }}"
            {% if item.crossorigin %}
              crossorigin="{{item.crossorigin}}"
            {% endif %}
            {% if item.integrity %}
              integrity="{{item.integrity}}"
            {% endif %}>
    {% endfor %}
    <link rel="stylesheet" href="/assets/css/main.css">
    {% for item in site.data.js %}
      <script src="//{{item.path}}"
        {% if item.crossorigin %}crossorigin="{{item.crossorigin}}">{% endif %}
        {% if item.integrity %}integrity="{{item.integrity}}"{% endif %}>
      </script>
    {% endfor %}
    <script type="module" defer>
      import {ixm} from "/assets/js/site.js";
      ixm(hljs);
      hljs.initHighlighting();
    </script>
  </head>
  <body>
    <header>
      <img src="/assets/img/logo.png">
      <h1>The <em>last</em> CMake library you'll ever use</h1>
    </header>
    <nav>
      <ul>
        {% for item in site.data.links %}
          <li>
            <a rel="noopener noreferrer"
               target="_blank"
               title="{{item.name}}"
               href="https://{{item.path}}">
              <span class="fa-fw {{item.type}}"></span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      <figure>
        <pre><code class="language-ixm hljs">{% include install.cmake %}</code></pre>
        <figcaption>
          Import IXM with just <strong>4 lines of code!</strong>
        </figcaption>
      </figure>
    </main>
    <footer>
      <span class="fa-fw far fa-copyright"></span>
      <a href="https://twitter.com/slurpsmadrips">Isabella Muerte</a>
    </footer>
  </body>
</html>
