---
---
$samples: 4;

:root {
  --selection-color: #ffe9b4;
  --hover-color: #000000;
  --color: #3b4357;

  --code-background: #282c34;
  --code-color: #abb2bf;

  --code-function: #61aeee;
  --code-builtin: #f92672;
  --code-literal: #56b6c2;
  --code-string: #9ccc65;
  --code-module: #e6c07b;
  --code-number: #d19a66;
  --code-var: #b18eb1;

  --icon-size: 3em;
  --icon-github: "\f09b";
  --icon-books: "\f02d";
}

::selection { background-color: var(--selection-color); }

* {
  box-sizing: border-box;
}

body {
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
  grid-template-rows: auto;
  display: grid;
  color: var(--color);
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  & > * {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
  }
}

header {
  img { width: 200px; }
}

code {
  background-color: #fcf2f2;
  color: #d73e48;
  font-weight: bold;
  font-family: 'Fira Code', monospace;
}

main {
  display: grid;
  section {
    grid-column: 3;
    &:first-of-type {
      ul {
        display: flex;
        justify: {
          self: center;
          content: center;
        }
      }
      li {
        min-width: 500px;
        &:last-of-type,&:nth-of-type(2) { display: initial; }
        &:first-of-type,&:last-of-type { min-width: auto; }
        a { font-size: xx-large; }
      }
    }
    &:last-of-type {
      li:first-of-type { display: initial; }
    }
    li {
      &:first-of-type { display: initial; }
      display: none;
    }
  }
  ul {
    padding-left: 0;
    li {
      justify-self: center;
      align-self: center;
      a { font-size: xx-large; }
      padding: 1em;
    }
  }
}

nav {
  ul {
    display: grid;
    list-style: none;
    padding-left: 0;
    grid-auto-flow: column;
  }

  li {
    font-family: 'Font Awesome 5 Free';
    font-size: var(--icon-size);
    font-weight: 900;
    width: 1.25em;
  }
}
a {
  text-decoration: none;
  color: var(--color);
  &:hover {
    color: var(--hover-color);
  }
}
pre {
  white-space: pre-line;
  text-align: left;
  code {
    border-left: .5rem solid #2d6da3;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(48, 55, 66, .5);
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    line-height: 1.3em;
    overflow-x: auto;
    display: block;
    padding: 0.5em;
    margin: 0 auto;
    background: var(--code-background);
    color: var(--code-color);

    @each $element in function, builtin, literal, string, module, number {
      #{$element} { color: var(--code-#{$element}); }
    }
    var {
      color: var(--code-var);
      font-style: normal;
    }
    mark {
      border-radius: 3px;
      padding: {
        left: 5px;
        right: 5px;
      }
      color: var(--code-color);
      background-color: var(--selection-color);
    }
  }
}